# Set default page untuk direktori
DirectoryIndex public/index.html index.html index.php

# Enable URL Rewriting
RewriteEngine On

# Redirect dari Maps/ langsung ke Maps/public/index.html
RewriteCond %{REQUEST_URI} ^/Maps/?$
RewriteRule ^/?$ /Maps/public/index.html [L]

# Error pages
ErrorDocument 404 /Maps/public/index.html
